* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .top {
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url("../css-e.exams.opt2/resources/beach3.jpg");
    background-size: cover;
    width: 710px;
    height: 352px;
}

header .top .header_text {
    position: absolute;
    left: 0;
    bottom: 40px;
    background: rgba(255, 191, 58, 0.6);
    width: 450px;
}

header .top .header_text h1 {
    margin: 10px 20px;
}

main {
    margin: 60px 0px;
    width: 710px;
    height: 352px;
}

main .main_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

main .box {
    position: relative;
}

main .box .line {
    width: 300px;
    height: 8px;
    background: rgba(255, 191, 58, 0.78);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

main .box img {
    width: 300px;
    height: 200px;
}
main .box .box_text{
    margin: 10px 0;
}
main .box .box_text p{
    margin: 10px 0;
    font-weight: bold;
    width: 300px;

}